extends ../base.pug

block content 
    video(src="/" + video.fileUrl, controls)
    div
        p=video.description
        small=video.createdAt
    //- h3 #{video.views} #{video.views === 1 ? "view" : "views"}
    div 
        small Uploaded by 
            a(href=`/users/${video.owner._id}`) #{video.owner.name}
    //- 이 처리 안하고도 해결이 되어야 하는데 처리가 안되고 있음...
    if loggedInUser
        if String(video.owner._id) === String(loggedInUser._id) 
            a(href=`${video.id}/edit`) Edit Video &rarr;
            br
            a(href=`${video.id}/delete`) Delete Video &rarr;